<% provide(:title, @product.name) %>
<%= render 'potepan/products/light_section', product: @product %>
<%= render 'potepan/products/main_content', product: @product, product_properties: @product_properties %>
