<%= render 'potepan/home/banner' %>
<%= render 'potepan/home/main_content', new_products: @new_products %>
<%= render 'potepan/home/light_section' %>
<%= render 'potepan/home/login_modal' %>
<%= render 'potepan/home/signup_modal' %>
<%= render 'potepan/home/product_quick_view_modal' %>
